In [3]:
! pip install numpy
! pip install pandas

Requirement already satisfied: numpy in c:\users\admin\anaconda3\lib\site-packages (1.26.4)
Requirement already satisfied: pandas in c:\users\admin\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\admin\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [4]:
import pandas as pd 
import numpy as np

s = pd.Series() 
print("Pandas Series: ", s) 
data = np.array(['g', 'e', 'e', 'k', 's']) 
  
s = pd.Series(data) 
print("Pandas Series:\n", s)

Pandas Series:  Series([], dtype: object)
Pandas Series:
 0    g
1    e
2    e
3    k
4    s
dtype: object

In [5]:
import pandas as pd 
   
df = pd.DataFrame() 
print(df)
lst = ['Geeks', 'For', 'Geeks', 'is', 'portal', 'for', 'Geeks'] 
  
df = pd.DataFrame(lst) 
print(df)

Empty DataFrame
Columns: []
Index: []
        0
0   Geeks
1     For
2   Geeks
3      is
4  portal
5     for
6   Geeks

In [11]:
import pandas as pd
df = pd.read_csv (r"C:\Users\Admin\Desktop\PDA\data.csv")
print(df.head())
print(df.info())
print(df.isnull().sum())
df = df.fillna(0)
ages = df[df['age'] > 25]
print(ages)
df['total'] = df['a'] + df['b']
print(df.head())
res = df.groupby('category')['sales'].sum()
print(res)

   Unnamed: 0   name  age     city category  sales  a   b
0           0   John   25    Delhi        A    200  5  10
1           1   Riya   22   Mumbai        B    120  2   3
2           2   Aman   30     Pune        A    250  7   8
3           3   Neha   27  Kolkata        C    300  4   6
4           4  Arjun   35   Jaipur        B    200  1   9
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  13 non-null     int64
 1   name        10 non-null     object
 2   age         13 non-null     int64
 3   city        10 non-null     object
 4   category    10 non-null     object
 5   sales       13 non-null     int64
 6   a           13 non-null     int64
 7   b           13 non-null     int64
dtypes: int64(5), object(3)
memory usage: 964.0+ bytes
None
Unnamed: 0    0
name          3
age           0
city          3
category      3
sales         0
a             0
b             0
dtype: int64
    Unnamed: 0   name  age       city category  sales  a  b
2            2   Aman   30       Pune        A    250  7  8
3            3   Neha   27    Kolkata        C    300  4  6
4            4  Arjun   35     Jaipur        B    200  1  9
5            5    Jay   34  Bangalore        A    100  3  7
11          11  Arjun   35          0        B      0  1  9
   Unnamed: 0   name  age     city category  sales  a   b  total
0           0   John   25    Delhi        A    200  5  10     15
1           1   Riya   22   Mumbai        B    120  2   3      5
2           2   Aman   30     Pune        A    250  7   8     15
3           3   Neha   27  Kolkata        C    300  4   6     10
4           4  Arjun   35   Jaipur        B    200  1   9     10
category
0    300
A    650
B    440
C    300
Name: sales, dtype: int64

In [12]:
import pandas as pd
df = pd.read_csv (r"C:\Users\Admin\Desktop\PDA\data.csv")
print(df.head())

   Unnamed: 0   name  age     city category  sales  a   b
0           0   John   25    Delhi        A    200  5  10
1           1   Riya   22   Mumbai        B    120  2   3
2           2   Aman   30     Pune        A    250  7   8
3           3   Neha   27  Kolkata        C    300  4   6
4           4  Arjun   35   Jaipur        B    200  1   9

In [13]:
import pandas as pd
df = pd.read_csv (r"C:\Users\Admin\Desktop\PDA\data.csv")
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  13 non-null     int64
 1   name        10 non-null     object
 2   age         13 non-null     int64
 3   city        10 non-null     object
 4   category    10 non-null     object
 5   sales       13 non-null     int64
 6   a           13 non-null     int64
 7   b           13 non-null     int64
dtypes: int64(5), object(3)
memory usage: 964.0+ bytes
None

In [1]:
import pandas as pd
df = pd.read_csv (r"C:\Users\Admin\Desktop\PDA\data.csv")
print(df.isnull().sum())
df = df.fillna(0)

Unnamed: 0    0
name          3
age           0
city          3
category      3
sales         0
a             0
b             0
dtype: int64

In [3]:
import pandas as pd
df = pd.read_csv (r"C:\Users\Admin\Desktop\PDA\data.csv")
ages = df[df['age'] > 25]
print(ages)

    Unnamed: 0   name  age       city category  sales  a  b
2            2   Aman   30       Pune        A    250  7  8
3            3   Neha   27    Kolkata        C    300  4  6
4            4  Arjun   35     Jaipur        B    200  1  9
5            5    Jay   34  Bangalore        A    100  3  7
11          11  Arjun   35        NaN        B      0  1  9

In [4]:
import pandas as pd
df = pd.read_csv (r"C:\Users\Admin\Desktop\PDA\data.csv")
df['total'] = df['a'] + df['b']
print(df.head())

   Unnamed: 0   name  age     city category  sales  a   b  total
0           0   John   25    Delhi        A    200  5  10     15
1           1   Riya   22   Mumbai        B    120  2   3      5
2           2   Aman   30     Pune        A    250  7   8     15
3           3   Neha   27  Kolkata        C    300  4   6     10
4           4  Arjun   35   Jaipur        B    200  1   9     10

In [5]:
import pandas as pd
df = pd.read_csv (r"C:\Users\Admin\Desktop\PDA\data.csv")
res = df.groupby('category')['sales'].sum()
print(res)

category
A    650
B    440
C    300
Name: sales, dtype: int64

In [15]:
import pandas as pd
df = pd.read_csv (r"C:\Users\Admin\Desktop\PDA\data.csv")
s = pd.Series([10, 20, 30, 40])

In [3]:
import pandas as pd
df = pd.read_csv (r"C:\Users\Admin\Desktop\PDA\data.csv")
s = pd.Series([85, 90, 78], index=["A", "B", "C"])
s["A"]

85

In [5]:
import pandas as pd
df = pd.read_csv (r"C:\Users\Admin\Desktop\PDA\data.csv")
s.iloc[0]

85

In [18]:
import pandas as pd
df = pd.read_csv (r"C:\Users\Admin\Desktop\PDA\data.csv")
s.mean(), s.max(), s.min()

(84.33333333333333, 90, 78)

In [1]:
import pandas as pd
df = pd.read_csv (r"C:\Users\Admin\Desktop\PDA\data.csv")
data = { 
"Name": ["Amit", "Riya", "Karan"], 
"Marks": [85, 90, 78] 
} 
df = pd.DataFrame(data)
df["Name"]

0     Amit
1     Riya
2    Karan
Name: Name, dtype: object

In [21]:
import pandas as pd
df = pd.read_csv (r"C:\Users\Admin\Desktop\PDA\data.csv")
df.loc[0] 
df.iloc[1]

Unnamed: 0         1
name            Riya
age               22
city          Mumbai
category           B
sales            120
a                  2
b                  3
Name: 1, dtype: object

In [2]:
df["Grade"] = ["A", "A+", "B"]
print(df)

    Name  Marks Grade
0   Amit     85     A
1   Riya     90    A+
2  Karan     78     B

In [5]:
import pandas as pd
df = pd.read_csv (r"C:\Users\Admin\Desktop\PDA\data.csv")
data = { 
"Name": ["Amit", "Riya", "Karan"], 
"Marks": [85, 90, 78] 
} 
df = pd.DataFrame(data)
df[df["Marks"] > 80]

   Name  Marks
0  Amit     85
1  Riya     90

In [25]:
import pandas as pd
df = pd.read_csv (r"C:\Users\Admin\Desktop\PDA\data.csv")
df.describe()

       Unnamed: 0        age       sales          a          b
count    13.00000  13.000000   13.000000  13.000000  13.000000
mean      6.00000  19.615385  130.000000   2.692308   5.461538
std       3.89444  14.291830  112.398102   2.462540   3.843076
min       0.00000   0.000000    0.000000   0.000000   0.000000
25%       3.00000   0.000000    0.000000   1.000000   3.000000
50%       6.00000  25.000000  120.000000   2.000000   6.000000
75%       9.00000  30.000000  200.000000   4.000000   9.000000
max      12.00000  35.000000  300.000000   7.000000  10.000000