In [ ]:
#OPENING FILE
f = open("geek.txt", "r")
print(f)
f.close()

<_io.TextIOWrapper name='geek.txt' mode='r' encoding='utf-8'>

In [1]:
#Functions
def fun():
    print("Welcome")
fun()

Welcome

In [3]:
#DEFAULT ARGUMENT
def myfun(x,y=20):
    print("x:",x)
    print("y:",y)
myfun(30)

x: 30
y: 20

In [4]:
#ASSIGNMENT PASSING
def evenodd(x):
    if x%2==0:
        print("Even")
    else:
        print("Odd")
print(evenodd(16))
print(evenodd(15))

Even
None
Odd
None

In [5]:
#KEYWORD ARGUMENTS
def student(fname,lname):
    print(fname,lname)
student(fname = "Practice",lname = "Daily")
student(lname = "Daily",fname = "Practice")

Practice Daily
Practice Daily

In [9]:
#POSITIONAL ARGUMENTS
def person(name,age):
    print("Hii I am",name)
    print("Hii I am",age)
print("Case 1")
person("Ram",25)
print("Case 2")
person("25","Ram")

Case 1
Hii I am Ram
Hii I am 25
Case 2
Hii I am 25
Hii I am Ram

In [10]:
#FUNCTION WITHIN FUNCTION
def f1():
    s = " I love India"
    def f2():
        print(s)
    f2()
f1()

 I love India

In [11]:
#PASS BY REFERENCE 
def myfun(x):
    x[0]=20
lst = [10,20,30,40,50]
print(lst)
myfun(lst)
print(lst)

[10, 20, 30, 40, 50]
[20, 20, 30, 40, 50]

In [12]:
#PASS BY VALUE
def myfun(x):
    x=20
a=20
print(a)
myfun(a)
print(a)

20
20

In [ ]:
#closing file
file = open("geek.txt", "r")
#Perform file operations
file.close()

In [ ]:
#CHECKING FILE PROPERTIES
f = open("geek.txt", "r")
print("Filename:", f.name)
print("Mode:", f.mode)
print("Is Closed?", f.closed)

f.close()
print("Is Closed?", f.closed)

Filename: geek.txt
Mode: r
Is Closed? False
Is Closed? True

In [ ]:
#READING FILE
file = open("geek.txt", "r")
content = file.read()
print(content)
file.close()

This is a test line.

In [ ]:
#WRITING FILE
with open("geek.txt", "w") as file:
    file.write("Hello, Python!\n")
    file.write("File handliing is easy with python.")
print("File written Successfully")

File written Successfully

In [ ]:
#USING WITH STATEMENT
with open("geek.txt", "r")as file:
  content = file.read()
  print(content)

Hello, Python!
File handliing is easy with python.

In [ ]:
#HANDLING EXCEPTION
try:
  file = open("geek.txt", "r")
  content = file.read()
  print(content)
finally:
  file.close()

Hello, Python!
File handliing is easy with python.

In [3]:
#Exception handling
n = 10
try:
    res = n / 0
except ZeroDivisionError:
    print("Can't be divided by zero!")

Can't be divided by zero!

In [4]:
try:
    n = 0
    res = 100 / n
except ZeroDivisionError:
    print("You can't divide by zero!")
except ValueError:
    print("Enter a valid number!")
else:
    print("Result is", res)
finally:
    print("Execution complete.")

You can't divide by zero!
Execution complete.

In [5]:
#CATCHING SPECIFIC ERROR
try:
    x = int("str")
    inv = 1 / x
except ValueError:
    print("Not Valid!")
except ZeroDivisionError:
    print("Zero has no inverse!")

Not Valid!

In [6]:
#catching multiple exception
a = ["10", "twenty", 30]
try:
    total = int(a[0] + int(a[1]))
except (ValueError, TypeError) as e:
    print("Error", e)
except IndexError:
    print("Index out of range.")

Error invalid literal for int() with base 10: 'twenty'

In [7]:
#CATCHING ALL HANDERS
try:
    res = "100" / 20
except ArithmeticError:
    print("Arithmetic Error")
except:
    print("Something went wrong!")

Something went wrong!

In [8]:
#RAISING AN EXCEPTION
def set(age):
    if age < 0:
        raise ValueError("Age cannot be negative.")
    print(f"Age set to {age}")

try:
    set(-5)
except ValueError as e:
    print(e)

Age cannot be negative.

In [12]:
#CUSTOMER EXCEPTION
class AgeError(Exception):
    pass
def set(age):
    if age < 0:
        raise AgeError("Age cannot be negative.")
    print(f"Age set to {age}")

try:
    set(-5)
except AgeError as e:
    print(e)

Age cannot be negative.

In [4]:
#python List
a = [1,2,3,4,5]
b = [1,'A',"Apple",1.5,[25],True]
print(a)
print(b)
a.append(10)
print(a)
a.insert(1,13)
print(a)
a.extend([50,60,70])
print(a)
c = [2] * 5
print(c)
print(a[0])
print(a[-1])
print(a[1:4])
a[3] = 100
print(a)
a.pop()
print(a)
a.remove(50)
print(a)
for items in b:
    print(items)
matrix = [[1,2,3],[4,5,6],[7,8,9]]
print(matrix[1][2])

[1, 2, 3, 4, 5]
[1, 'A', 'Apple', 1.5, [25], True]
[1, 2, 3, 4, 5, 10]
[1, 13, 2, 3, 4, 5, 10]
[1, 13, 2, 3, 4, 5, 10, 50, 60, 70]
[2, 2, 2, 2, 2]
1
70
[13, 2, 3]
[1, 13, 2, 100, 4, 5, 10, 50, 60, 70]
[1, 13, 2, 100, 4, 5, 10, 50, 60]
[1, 13, 2, 100, 4, 5, 10, 60]
1
A
Apple
1.5
[25]
True
6

In [5]:
#list comprehension
d = [1,2,3,4,5]
result = [val * 2 for val in d]
print(d)
print(result)

[1, 2, 3, 4, 5]
[2, 4, 6, 8, 10]

In [17]:
#python tuples
tup1 = [1,2,3,4,5]
print(tup1)
lst1 = [7,8,9,10]
tup2 = tuple(lst1)
print(tup2)
tup3 = (tup1,tup2)
print(tup3)
tup4 = ("Python") * 3
print(tup4)
print(tup1[1])

print(tup3[2:5])

#tuple unpacking
a,*b,c = tup1
print(a)
print(b)
print(c)

#python sets
set1 = {1,2,3,4,5}
print(set1)
set2 = {1,2,1,3,4,2,5,4,6}
print(set2)
#sets[1] not allowed
set1.add(10)
print(set1)
set1.update([15,15])
print(set1)
set1.remove(4)
print(set1)
set1.discard(100)
print(set1)

[1, 2, 3, 4, 5]
(7, 8, 9, 10)
([1, 2, 3, 4, 5], (7, 8, 9, 10))
PythonPythonPython
2
()
1
[2, 3, 4]
5
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 10}
{1, 2, 3, 4, 5, 10, 15}
{1, 2, 3, 5, 10, 15}
{1, 2, 3, 5, 10, 15}

In [22]:
#set operations
set3 = {10,20,30,40,50,30}
set4 = {20,30,60,70,80}
print(set3|set4)
print(set3.union(set4))
print(set3 & set4)
print(set3.intersection(set4))
print(set3-set4)
print(set3.difference(set4))
print(set3^set4)
print(set3.symmetric_difference(set4))

#python dixtionary
d1 = {1:"A",2:"B",3:"C"}
d2 = {"A":1,"B":2,"C":3}
print(d1)
print(d2)
print(d1[1])#accessing elements
print(d2["A"])
d1[4] = "D"#adding new element
print(d1)
d1[3] = "2"#updating element
print(d1)
del d1[2]#deleting element
print(d1)

{70, 40, 10, 80, 50, 20, 60, 30}
{70, 40, 10, 80, 50, 20, 60, 30}
{20, 30}
{20, 30}
{40, 50, 10}
{40, 50, 10}
{80, 50, 70, 40, 10, 60}
{80, 50, 70, 40, 10, 60}
{1: 'A', 2: 'B', 3: 'C'}
{'A': 1, 'B': 2, 'C': 3}
A
1
{1: 'A', 2: 'B', 3: 'C', 4: 'D'}
{1: 'A', 2: 'B', 3: '2', 4: 'D'}
{1: 'A', 3: '2', 4: 'D'}

In [25]:
#iterating over dictionary
for key in d2:
    print(key)
for value in d2.items():
    print(value)
for key,value in d2.items():
    print(f"{key}:{value}")

A
B
C
('A', 1)
('B', 2)
('C', 3)
A:1
B:2
C:3